flows.json
[{"id":"92f9cbe5.9889c8","type":"tab","label":"Поток 2","disabled":false,"info":""},{"id":"69153c45.b8e384","type":"inject","z":"92f9cbe5.9889c8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":260,"wires":[["262a4c74.52d974"]]},{"id":"262a4c74.52d974","type":"http request","z":"92f9cbe5.9889c8","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://api.telegram.org/bot1635544975:AAGRCBpmEMb0LjmRlGmpRScUYylWy-TAJRs/setWebhook?url=https://fdc17d744608.ngrok.io/goroanya_bot","tls":"","persist":false,"proxy":"","authType":"basic","x":390,"y":260,"wires":[["95570bb5.3b6118"]]},{"id":"95570bb5.3b6118","type":"debug","z":"92f9cbe5.9889c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":570,"y":260,"wires":[]},{"id":"feb2d844.7b74e8","type":"http in","z":"92f9cbe5.9889c8","name":"","url":"/goroanya_bot","method":"post","upload":false,"swaggerDoc":"","x":130,"y":380,"wires":[["a35954e9.5f4a88","fe456321.7acef","2f365b2c.02f0b4"]]},{"id":"a35954e9.5f4a88","type":"debug","z":"92f9cbe5.9889c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":290,"y":560,"wires":[]},{"id":"49ab12d9.459fac","type":"function","z":"92f9cbe5.9889c8","name":"","func":"msg.method = \"POST\";\nmsg.url = \"https://api.telegram.org/bot1635544975:AAGRCBpmEMb0LjmRlGmpRScUYylWy-TAJRs/sendMessage\";\nmsg.payload = {\n\n    \"text\": \"Привіт! Яка твоя улюблена пора року?\",\n    \"reply_markup\": {\n            \"keyboard\": [['Осінь'],['Зима'], ['Весна'], ['Літо']],\n            \"resize_keyboard\" : true, \n      \"one_time_keyboard\" : true\n\n    },\n  \"chat_id\": msg.receiver,\n\n  }\n return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":260,"wires":[["f8622f9f.749ca"]]},{"id":"f8622f9f.749ca","type":"http request","z":"92f9cbe5.9889c8","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"https://api.telegram.org/bot1635544975:AAGRCBpmEMb0LjmRlGmpRScUYylWy-TAJRs/sendMessage","tls":"","persist":false,"proxy":"","authType":"","x":950,"y":260,"wires":[[]]},{"id":"fe456321.7acef","type":"http response","z":"92f9cbe5.9889c8","name":"","statusCode":"200","headers":{},"x":120,"y":480,"wires":[]},{"id":"2f365b2c.02f0b4","type":"change","z":"92f9cbe5.9889c8","name":"","rules":[{"t":"set","p":"receiver","pt":"msg","to":"payload.message.from.id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":380,"wires":[["7cd951e6.dafff"]]},{"id":"590c55ea.ac37cc","type":"switch","z":"92f9cbe5.9889c8","name":"","property":"payload.message.text","propertyType":"msg","rules":[{"t":"eq","v":"Літо","vt":"str"},{"t":"eq","v":"Зима","vt":"str"},{"t":"eq","v":"Весна","vt":"str"},{"t":"eq","v":"Осінь","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":790,"y":460,"wires":[["492d5969.2dfa18"],["68f370d4.264cc"],["12543d2c.b8ba93"],["85d9bf75.6e1eb"]]},{"id":"7cd951e6.dafff","type":"switch","z":"92f9cbe5.9889c8","name":"","property":"payload.message.text","propertyType":"msg","rules":[{"t":"eq","v":"/start","vt":"str"},{"t":"eq","v":"payload.message.text","vt":"msg"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":380,"wires":[["49ab12d9.459fac"],["590c55ea.ac37cc"]]},{"id":"85d9bf75.6e1eb","type":"function","z":"92f9cbe5.9889c8","name":"","func":"msg.method = \"POST\";\nmsg.url = \"https://api.telegram.org/bot1635544975:AAGRCBpmEMb0LjmRlGmpRScUYylWy-TAJRs/sendMessage\";\nmsg.payload = {\n\n    \"text\": \"Люблю осінь!\",\n    \"chat_id\": msg.receiver,\n\n  }\n return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":540,"wires":[["54002f5f.a150f"]]},{"id":"68f370d4.264cc","type":"function","z":"92f9cbe5.9889c8","name":"","func":"msg.method = \"POST\";\nmsg.url = \"https://api.telegram.org/bot1635544975:AAGRCBpmEMb0LjmRlGmpRScUYylWy-TAJRs/sendMessage\";\nmsg.payload = {\n\n    \"text\": \"Люблю зиму!\",\n    \"chat_id\": msg.receiver,\n\n  }\n return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":420,"wires":[["efffd0e4.400ff"]]},{"id":"12543d2c.b8ba93","type":"function","z":"92f9cbe5.9889c8","name":"","func":"msg.method = \"POST\";\nmsg.url = \"https://api.telegram.org/bot1635544975:AAGRCBpmEMb0LjmRlGmpRScUYylWy-TAJRs/sendMessage\";\nmsg.payload = {\n\n    \"text\": \"Люблю весну!\",\n    \"chat_id\": msg.receiver,\n\n  }\n return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":480,"wires":[["14852a94.aa6e85"]]},{"id":"492d5969.2dfa18","type":"function","z":"92f9cbe5.9889c8","name":"","func":"msg.method = \"POST\";\nmsg.url = \"https://api.telegram.org/bot1635544975:AAGRCBpmEMb0LjmRlGmpRScUYylWy-TAJRs/sendMessage\";\nmsg.payload = {\n\n    \"text\": \"Люблю літо!\",\n    \"chat_id\": msg.receiver,\n\n  }\n return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":360,"wires":[["b2a5ad3b.7c06f"]]},{"id":"b2a5ad3b.7c06f","type":"http request","z":"92f9cbe5.9889c8","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"https://api.telegram.org/bot1635544975:AAGRCBpmEMb0LjmRlGmpRScUYylWy-TAJRs/sendMessage","tls":"","persist":false,"proxy":"","authType":"","x":1150,"y":360,"wires":[[]]},{"id":"efffd0e4.400ff","type":"http request","z":"92f9cbe5.9889c8","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"https://api.telegram.org/bot1635544975:AAGRCBpmEMb0LjmRlGmpRScUYylWy-TAJRs/sendMessage","tls":"","persist":false,"proxy":"","authType":"","x":1150,"y":420,"wires":[[]]},{"id":"14852a94.aa6e85","type":"http request","z":"92f9cbe5.9889c8","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"https://api.telegram.org/bot1635544975:AAGRCBpmEMb0LjmRlGmpRScUYylWy-TAJRs/sendMessage","tls":"","persist":false,"proxy":"","authType":"","x":1150,"y":480,"wires":[[]]},{"id":"54002f5f.a150f","type":"http request","z":"92f9cbe5.9889c8","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"https://api.telegram.org/bot1635544975:AAGRCBpmEMb0LjmRlGmpRScUYylWy-TAJRs/sendMessage","tls":"","persist":false,"proxy":"","authType":"","x":1150,"y":540,"wires":[[]]}]