flows.json
[
    {
        "id": "92f9cbe5.9889c8",
        "type": "tab",
        "label": "Simple Telegram-Bot",
        "disabled": true,
        "info": ""
    },
    {
        "id": "4e373eea.a5d57",
        "type": "tab",
        "label": "QA Bot",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f3dfe751.9ee8b8",
        "type": "dialogflowv2-token",
        "name": "qa-agent"
    },
    {
        "id": "69153c45.b8e384",
        "type": "inject",
        "z": "92f9cbe5.9889c8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 260,
        "wires": [
            [
                "262a4c74.52d974"
            ]
        ]
    },
    {
        "id": "262a4c74.52d974",
        "type": "http request",
        "z": "92f9cbe5.9889c8",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.telegram.org/bot1635544975:AAGRCBpmEMb0LjmRlGmpRScUYylWy-TAJRs/setWebhook?url=https://a63f1b5d29e2.ngrok.io/goroanya_bot",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "basic",
        "x": 390,
        "y": 260,
        "wires": [
            [
                "95570bb5.3b6118"
            ]
        ]
    },
    {
        "id": "95570bb5.3b6118",
        "type": "debug",
        "z": "92f9cbe5.9889c8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 260,
        "wires": []
    },
    {
        "id": "feb2d844.7b74e8",
        "type": "http in",
        "z": "92f9cbe5.9889c8",
        "name": "",
        "url": "/goroanya_bot",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 380,
        "wires": [
            [
                "a35954e9.5f4a88",
                "fe456321.7acef",
                "2f365b2c.02f0b4"
            ]
        ]
    },
    {
        "id": "a35954e9.5f4a88",
        "type": "debug",
        "z": "92f9cbe5.9889c8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 290,
        "y": 560,
        "wires": []
    },
    {
        "id": "49ab12d9.459fac",
        "type": "function",
        "z": "92f9cbe5.9889c8",
        "name": "",
        "func": "msg.method = \"POST\";\nmsg.url = \"https://api.telegram.org/bot1635544975:AAGRCBpmEMb0LjmRlGmpRScUYylWy-TAJRs/sendMessage\";\nmsg.payload = {\n\n    \"text\": \"Привіт! Яка твоя улюблена пора року?\",\n    \"reply_markup\": {\n            \"keyboard\": [['Осінь'],['Зима'], ['Весна'], ['Літо']],\n            \"resize_keyboard\" : true, \n      \"one_time_keyboard\" : true\n\n    },\n  \"chat_id\": msg.receiver,\n\n  }\n return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 780,
        "y": 260,
        "wires": [
            [
                "f8622f9f.749ca"
            ]
        ]
    },
    {
        "id": "f8622f9f.749ca",
        "type": "http request",
        "z": "92f9cbe5.9889c8",
        "name": "",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.telegram.org/bot1635544975:AAGRCBpmEMb0LjmRlGmpRScUYylWy-TAJRs/sendMessage",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 950,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "fe456321.7acef",
        "type": "http response",
        "z": "92f9cbe5.9889c8",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 120,
        "y": 480,
        "wires": []
    },
    {
        "id": "2f365b2c.02f0b4",
        "type": "change",
        "z": "92f9cbe5.9889c8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "receiver",
                "pt": "msg",
                "to": "payload.message.from.id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 380,
        "wires": [
            [
                "7cd951e6.dafff"
            ]
        ]
    },
    {
        "id": "590c55ea.ac37cc",
        "type": "switch",
        "z": "92f9cbe5.9889c8",
        "name": "",
        "property": "payload.message.text",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Літо",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Зима",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Весна",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Осінь",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 770,
        "y": 460,
        "wires": [
            [
                "492d5969.2dfa18"
            ],
            [
                "68f370d4.264cc"
            ],
            [
                "12543d2c.b8ba93"
            ],
            [
                "85d9bf75.6e1eb"
            ]
        ]
    },
    {
        "id": "7cd951e6.dafff",
        "type": "switch",
        "z": "92f9cbe5.9889c8",
        "name": "",
        "property": "payload.message.text",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "/start",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "/start",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 610,
        "y": 380,
        "wires": [
            [
                "49ab12d9.459fac"
            ],
            [
                "590c55ea.ac37cc"
            ]
        ]
    },
    {
        "id": "85d9bf75.6e1eb",
        "type": "function",
        "z": "92f9cbe5.9889c8",
        "name": "",
        "func": "msg.method = \"POST\";\nmsg.url = \"https://api.telegram.org/bot1635544975:AAGRCBpmEMb0LjmRlGmpRScUYylWy-TAJRs/sendMessage\";\nmsg.payload = {\n\n    \"text\": \"Люблю осінь!\",\n    \"chat_id\": msg.receiver,\n\n  }\n return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 980,
        "y": 540,
        "wires": [
            [
                "54002f5f.a150f"
            ]
        ]
    },
    {
        "id": "68f370d4.264cc",
        "type": "function",
        "z": "92f9cbe5.9889c8",
        "name": "",
        "func": "msg.method = \"POST\";\nmsg.url = \"https://api.telegram.org/bot1635544975:AAGRCBpmEMb0LjmRlGmpRScUYylWy-TAJRs/sendMessage\";\nmsg.payload = {\n\n    \"text\": \"Люблю зиму!\",\n    \"chat_id\": msg.receiver,\n\n  }\n return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 980,
        "y": 420,
        "wires": [
            [
                "efffd0e4.400ff"
            ]
        ]
    },
    {
        "id": "12543d2c.b8ba93",
        "type": "function",
        "z": "92f9cbe5.9889c8",
        "name": "",
        "func": "msg.method = \"POST\";\nmsg.url = \"https://api.telegram.org/bot1635544975:AAGRCBpmEMb0LjmRlGmpRScUYylWy-TAJRs/sendMessage\";\nmsg.payload = {\n\n    \"text\": \"Люблю весну!\",\n    \"chat_id\": msg.receiver,\n\n  }\n return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 980,
        "y": 480,
        "wires": [
            [
                "14852a94.aa6e85"
            ]
        ]
    },
    {
        "id": "492d5969.2dfa18",
        "type": "function",
        "z": "92f9cbe5.9889c8",
        "name": "",
        "func": "msg.method = \"POST\";\nmsg.url = \"https://api.telegram.org/bot1635544975:AAGRCBpmEMb0LjmRlGmpRScUYylWy-TAJRs/sendMessage\";\nmsg.payload = {\n\n    \"text\": \"Люблю літо!\",\n    \"chat_id\": msg.receiver,\n\n  }\n return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 980,
        "y": 360,
        "wires": [
            [
                "b2a5ad3b.7c06f"
            ]
        ]
    },
    {
        "id": "b2a5ad3b.7c06f",
        "type": "http request",
        "z": "92f9cbe5.9889c8",
        "name": "",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.telegram.org/bot1635544975:AAGRCBpmEMb0LjmRlGmpRScUYylWy-TAJRs/sendMessage",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1150,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "efffd0e4.400ff",
        "type": "http request",
        "z": "92f9cbe5.9889c8",
        "name": "",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.telegram.org/bot1635544975:AAGRCBpmEMb0LjmRlGmpRScUYylWy-TAJRs/sendMessage",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1150,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "14852a94.aa6e85",
        "type": "http request",
        "z": "92f9cbe5.9889c8",
        "name": "",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.telegram.org/bot1635544975:AAGRCBpmEMb0LjmRlGmpRScUYylWy-TAJRs/sendMessage",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1150,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "54002f5f.a150f",
        "type": "http request",
        "z": "92f9cbe5.9889c8",
        "name": "",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.telegram.org/bot1635544975:AAGRCBpmEMb0LjmRlGmpRScUYylWy-TAJRs/sendMessage",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1150,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "43499d97.6f4934",
        "type": "inject",
        "z": "4e373eea.a5d57",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 160,
        "wires": [
            [
                "328ab8ca.06cf58"
            ]
        ]
    },
    {
        "id": "bda16d62.01eff",
        "type": "http request",
        "z": "4e373eea.a5d57",
        "name": "",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "basic",
        "x": 750,
        "y": 160,
        "wires": [
            [
                "9451c8d5.de3d28"
            ]
        ]
    },
    {
        "id": "9451c8d5.de3d28",
        "type": "debug",
        "z": "4e373eea.a5d57",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 240,
        "wires": []
    },
    {
        "id": "c4489ddb.ac10c",
        "type": "http in",
        "z": "4e373eea.a5d57",
        "name": "",
        "url": "/goroanya_bot",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 360,
        "wires": [
            [
                "6cf54ca.ec656b4",
                "846489a9.7784a8",
                "e8410b94.24b5f8"
            ]
        ]
    },
    {
        "id": "7d23ec7a.a28c84",
        "type": "function",
        "z": "4e373eea.a5d57",
        "name": "",
        "func": "msg.payload = msg.payload.message.text;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 580,
        "y": 360,
        "wires": [
            [
                "9fa4c1d0.024b7",
                "6f90c2f8.fdf0fc"
            ]
        ]
    },
    {
        "id": "1f1513cd.85002c",
        "type": "http request",
        "z": "4e373eea.a5d57",
        "name": "",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1170,
        "y": 360,
        "wires": [
            [
                "31415963.807e26"
            ]
        ]
    },
    {
        "id": "6cf54ca.ec656b4",
        "type": "http response",
        "z": "4e373eea.a5d57",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 140,
        "y": 460,
        "wires": []
    },
    {
        "id": "846489a9.7784a8",
        "type": "debug",
        "z": "4e373eea.a5d57",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 110,
        "y": 540,
        "wires": []
    },
    {
        "id": "7e64cefa.22b39",
        "type": "function",
        "z": "4e373eea.a5d57",
        "name": "",
        "func": "msg.method = \"POST\";\nmsg.url = `https://api.telegram.org/bot${msg.telegram_token}/sendMessage`;\nmsg.payload = {\n\n    \"text\": msg._dialogflow.fulfillmentText,\n    \"chat_id\": msg.receiver,\n\n  }\n// trying to extract context\n// got an issue to transfer this data to Dialogflow node through http request\n// \n//*************\nqueryParams = {}\nif( msg._dialogflow.outputContexts.length != 0){\n    \n    df_output_context = msg._dialogflow.outputContexts;\n    \n    fields_obj = df_output_context[0].parameters.fields\n    fields = Object.keys(fields_obj).filter(field_name => fields_obj[field_name]['stringValue'] != '' && !field_name.includes('.original'))\n    key_val = {}\n    fields.forEach(field_name => key_val[field_name] = fields_obj[field_name]['stringValue'])\n\n\n    queryParams = {\n        \"contexts\": [{\n            \"name\" : df_output_context[0].name,\n            \"lifespanCount\": 5,\n            \"parameters\": key_val\n            }\n        ]\n    }\n}\n//*********\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1000,
        "y": 360,
        "wires": [
            [
                "1f1513cd.85002c"
            ]
        ]
    },
    {
        "id": "31415963.807e26",
        "type": "debug",
        "z": "4e373eea.a5d57",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1230,
        "y": 460,
        "wires": []
    },
    {
        "id": "e8410b94.24b5f8",
        "type": "change",
        "z": "4e373eea.a5d57",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "receiver",
                "pt": "msg",
                "to": "payload.message.from.id",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "telegram_token",
                "pt": "msg",
                "to": "1635544975:AAGRCBpmEMb0LjmRlGmpRScUYylWy-TAJRs",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 360,
        "wires": [
            [
                "7d23ec7a.a28c84"
            ]
        ]
    },
    {
        "id": "9b3fba36.06b608",
        "type": "debug",
        "z": "4e373eea.a5d57",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 460,
        "wires": []
    },
    {
        "id": "790a5d2b.c05864",
        "type": "function",
        "z": "4e373eea.a5d57",
        "name": "",
        "func": "msg.method = \"POST\";\nmsg.url = `https://api.telegram.org/bot${msg.telegram_token}/setWebhook?url=${msg.ngrok_url}/goroanya_bot`;\n//msg.url = \"https://api.telegram.org/bot1635544975:AAGRCBpmEMb0LjmRlGmpRScUYylWy-TAJRs/setWebhook?url=https://a63f1b5d29e2.ngrok.io/goroanya_bot\"\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 570,
        "y": 160,
        "wires": [
            [
                "bda16d62.01eff"
            ]
        ]
    },
    {
        "id": "328ab8ca.06cf58",
        "type": "change",
        "z": "4e373eea.a5d57",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ngrok_url",
                "pt": "msg",
                "to": "https://e4578964a814.ngrok.io",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "telegram_token",
                "pt": "msg",
                "to": "1635544975:AAGRCBpmEMb0LjmRlGmpRScUYylWy-TAJRs",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 160,
        "wires": [
            [
                "790a5d2b.c05864"
            ]
        ]
    },
    {
        "id": "9fa4c1d0.024b7",
        "type": "dialogflowv2",
        "z": "4e373eea.a5d57",
        "dialogflow": "f3dfe751.9ee8b8",
        "language": "uk",
        "debug": true,
        "variable": "",
        "x": 780,
        "y": 360,
        "wires": [
            [
                "9b3fba36.06b608",
                "7e64cefa.22b39"
            ]
        ]
    },
    {
        "id": "6f90c2f8.fdf0fc",
        "type": "debug",
        "z": "4e373eea.a5d57",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 460,
        "wires": []
    }
]