flows.json
[
    {
        "id": "92f9cbe5.9889c8",
        "type": "tab",
        "label": "Simple Telegram-Bot",
        "disabled": true,
        "info": ""
    },
    {
        "id": "4e373eea.a5d57",
        "type": "tab",
        "label": "QA Bot PostgreSQL",
        "disabled": true,
        "info": ""
    },
    {
        "id": "ef7e2016.3d7b3",
        "type": "tab",
        "label": "QA Bot MongoDB",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9e9cbbaf.834f68",
        "type": "dialogflowv2-token",
        "name": "qa-agent"
    },
    {
        "id": "4f305077.37885",
        "type": "digitaloak-postgresql-connection-manager",
        "name": "undefined@localhost:5432/context_db",
        "host": "localhost",
        "port": "5432",
        "database": "context_db",
        "tls": "",
        "use_tls": false,
        "pool_max_clients": "10",
        "pool_client_max_idle": "10000",
        "client_query_timeout": "",
        "client_statement_timeout": "",
        "client_connection_timeout_millis": "",
        "is_client_enabled": "1"
    },
    {
        "id": "dbaca832.710c58",
        "type": "digitaloak-postgresql-connection-manager",
        "name": "ElephantSQL remote bd",
        "host": "ziggy.db.elephantsql.com",
        "port": "5432",
        "database": "vmsayfep",
        "tls": "",
        "use_tls": false,
        "pool_max_clients": "10",
        "pool_client_max_idle": "10000",
        "client_query_timeout": "",
        "client_statement_timeout": "",
        "client_connection_timeout_millis": "",
        "is_client_enabled": "1"
    },
    {
        "id": "537508a8.d80718",
        "type": "mongodb3",
        "uri": "mongodb+srv://goroanya:kWwpsVBuYcdq7MTL@contexts.l54ef.mongodb.net/internship_db?retryWrites=true&w=majority",
        "name": "mongo cluster",
        "options": "",
        "parallelism": "-1"
    },
    {
        "id": "135cbf12.721661",
        "type": "dialogflowv2-token",
        "name": "newagent-dayq"
    },
    {
        "id": "69153c45.b8e384",
        "type": "inject",
        "z": "92f9cbe5.9889c8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 260,
        "wires": [
            [
                "262a4c74.52d974"
            ]
        ]
    },
    {
        "id": "262a4c74.52d974",
        "type": "http request",
        "z": "92f9cbe5.9889c8",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.telegram.org/bot1635544975:AAGRCBpmEMb0LjmRlGmpRScUYylWy-TAJRs/setWebhook?url=https://a63f1b5d29e2.ngrok.io/goroanya_bot",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "basic",
        "x": 390,
        "y": 260,
        "wires": [
            [
                "95570bb5.3b6118"
            ]
        ]
    },
    {
        "id": "95570bb5.3b6118",
        "type": "debug",
        "z": "92f9cbe5.9889c8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 260,
        "wires": []
    },
    {
        "id": "feb2d844.7b74e8",
        "type": "http in",
        "z": "92f9cbe5.9889c8",
        "name": "",
        "url": "/goroanya_bot",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 380,
        "wires": [
            [
                "a35954e9.5f4a88",
                "fe456321.7acef",
                "2f365b2c.02f0b4"
            ]
        ]
    },
    {
        "id": "a35954e9.5f4a88",
        "type": "debug",
        "z": "92f9cbe5.9889c8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 290,
        "y": 560,
        "wires": []
    },
    {
        "id": "49ab12d9.459fac",
        "type": "function",
        "z": "92f9cbe5.9889c8",
        "name": "",
        "func": "msg.method = \"POST\";\nmsg.url = \"https://api.telegram.org/bot1635544975:AAGRCBpmEMb0LjmRlGmpRScUYylWy-TAJRs/sendMessage\";\nmsg.payload = {\n\n    \"text\": \"Привіт! Яка твоя улюблена пора року?\",\n    \"reply_markup\": {\n            \"keyboard\": [['Осінь'],['Зима'], ['Весна'], ['Літо']],\n            \"resize_keyboard\" : true, \n      \"one_time_keyboard\" : true\n\n    },\n  \"chat_id\": msg.receiver,\n\n  }\n return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 780,
        "y": 260,
        "wires": [
            [
                "f8622f9f.749ca"
            ]
        ]
    },
    {
        "id": "f8622f9f.749ca",
        "type": "http request",
        "z": "92f9cbe5.9889c8",
        "name": "",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.telegram.org/bot1635544975:AAGRCBpmEMb0LjmRlGmpRScUYylWy-TAJRs/sendMessage",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 950,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "fe456321.7acef",
        "type": "http response",
        "z": "92f9cbe5.9889c8",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 120,
        "y": 480,
        "wires": []
    },
    {
        "id": "2f365b2c.02f0b4",
        "type": "change",
        "z": "92f9cbe5.9889c8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "receiver",
                "pt": "msg",
                "to": "payload.message.from.id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 380,
        "wires": [
            [
                "7cd951e6.dafff"
            ]
        ]
    },
    {
        "id": "590c55ea.ac37cc",
        "type": "switch",
        "z": "92f9cbe5.9889c8",
        "name": "",
        "property": "payload.message.text",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Літо",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Зима",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Весна",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Осінь",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 770,
        "y": 460,
        "wires": [
            [
                "492d5969.2dfa18"
            ],
            [
                "68f370d4.264cc"
            ],
            [
                "12543d2c.b8ba93"
            ],
            [
                "85d9bf75.6e1eb"
            ]
        ]
    },
    {
        "id": "7cd951e6.dafff",
        "type": "switch",
        "z": "92f9cbe5.9889c8",
        "name": "",
        "property": "payload.message.text",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "/start",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "/start",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 610,
        "y": 380,
        "wires": [
            [
                "49ab12d9.459fac"
            ],
            [
                "590c55ea.ac37cc"
            ]
        ]
    },
    {
        "id": "85d9bf75.6e1eb",
        "type": "function",
        "z": "92f9cbe5.9889c8",
        "name": "",
        "func": "msg.method = \"POST\";\nmsg.url = \"https://api.telegram.org/bot1635544975:AAGRCBpmEMb0LjmRlGmpRScUYylWy-TAJRs/sendMessage\";\nmsg.payload = {\n\n    \"text\": \"Люблю осінь!\",\n    \"chat_id\": msg.receiver,\n\n  }\n return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 980,
        "y": 540,
        "wires": [
            [
                "54002f5f.a150f"
            ]
        ]
    },
    {
        "id": "68f370d4.264cc",
        "type": "function",
        "z": "92f9cbe5.9889c8",
        "name": "",
        "func": "msg.method = \"POST\";\nmsg.url = \"https://api.telegram.org/bot1635544975:AAGRCBpmEMb0LjmRlGmpRScUYylWy-TAJRs/sendMessage\";\nmsg.payload = {\n\n    \"text\": \"Люблю зиму!\",\n    \"chat_id\": msg.receiver,\n\n  }\n return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 980,
        "y": 420,
        "wires": [
            [
                "efffd0e4.400ff"
            ]
        ]
    },
    {
        "id": "12543d2c.b8ba93",
        "type": "function",
        "z": "92f9cbe5.9889c8",
        "name": "",
        "func": "msg.method = \"POST\";\nmsg.url = \"https://api.telegram.org/bot1635544975:AAGRCBpmEMb0LjmRlGmpRScUYylWy-TAJRs/sendMessage\";\nmsg.payload = {\n\n    \"text\": \"Люблю весну!\",\n    \"chat_id\": msg.receiver,\n\n  }\n return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 980,
        "y": 480,
        "wires": [
            [
                "14852a94.aa6e85"
            ]
        ]
    },
    {
        "id": "492d5969.2dfa18",
        "type": "function",
        "z": "92f9cbe5.9889c8",
        "name": "",
        "func": "msg.method = \"POST\";\nmsg.url = \"https://api.telegram.org/bot1635544975:AAGRCBpmEMb0LjmRlGmpRScUYylWy-TAJRs/sendMessage\";\nmsg.payload = {\n\n    \"text\": \"Люблю літо!\",\n    \"chat_id\": msg.receiver,\n\n  }\n return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 980,
        "y": 360,
        "wires": [
            [
                "b2a5ad3b.7c06f"
            ]
        ]
    },
    {
        "id": "b2a5ad3b.7c06f",
        "type": "http request",
        "z": "92f9cbe5.9889c8",
        "name": "",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.telegram.org/bot1635544975:AAGRCBpmEMb0LjmRlGmpRScUYylWy-TAJRs/sendMessage",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1150,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "efffd0e4.400ff",
        "type": "http request",
        "z": "92f9cbe5.9889c8",
        "name": "",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.telegram.org/bot1635544975:AAGRCBpmEMb0LjmRlGmpRScUYylWy-TAJRs/sendMessage",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1150,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "14852a94.aa6e85",
        "type": "http request",
        "z": "92f9cbe5.9889c8",
        "name": "",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.telegram.org/bot1635544975:AAGRCBpmEMb0LjmRlGmpRScUYylWy-TAJRs/sendMessage",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1150,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "54002f5f.a150f",
        "type": "http request",
        "z": "92f9cbe5.9889c8",
        "name": "",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.telegram.org/bot1635544975:AAGRCBpmEMb0LjmRlGmpRScUYylWy-TAJRs/sendMessage",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1150,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "43499d97.6f4934",
        "type": "inject",
        "z": "4e373eea.a5d57",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 80,
        "wires": [
            [
                "328ab8ca.06cf58"
            ]
        ]
    },
    {
        "id": "bda16d62.01eff",
        "type": "http request",
        "z": "4e373eea.a5d57",
        "name": "",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "basic",
        "x": 730,
        "y": 80,
        "wires": [
            [
                "9451c8d5.de3d28"
            ]
        ]
    },
    {
        "id": "9451c8d5.de3d28",
        "type": "debug",
        "z": "4e373eea.a5d57",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 80,
        "wires": []
    },
    {
        "id": "c4489ddb.ac10c",
        "type": "http in",
        "z": "4e373eea.a5d57",
        "name": "",
        "url": "/goroanya_bot",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 220,
        "wires": [
            [
                "6cf54ca.ec656b4",
                "846489a9.7784a8",
                "e8410b94.24b5f8"
            ]
        ]
    },
    {
        "id": "1f1513cd.85002c",
        "type": "http request",
        "z": "4e373eea.a5d57",
        "name": "",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1670,
        "y": 140,
        "wires": [
            [
                "31415963.807e26"
            ]
        ]
    },
    {
        "id": "6cf54ca.ec656b4",
        "type": "http response",
        "z": "4e373eea.a5d57",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 140,
        "y": 320,
        "wires": []
    },
    {
        "id": "846489a9.7784a8",
        "type": "debug",
        "z": "4e373eea.a5d57",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 110,
        "y": 400,
        "wires": []
    },
    {
        "id": "31415963.807e26",
        "type": "debug",
        "z": "4e373eea.a5d57",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1850,
        "y": 120,
        "wires": []
    },
    {
        "id": "e8410b94.24b5f8",
        "type": "change",
        "z": "4e373eea.a5d57",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "receiver",
                "pt": "msg",
                "to": "payload.message.from.id",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "req_text",
                "pt": "msg",
                "to": "payload.message.text",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "telegram_token",
                "pt": "msg",
                "to": "1635544975:AAGRCBpmEMb0LjmRlGmpRScUYylWy-TAJRs",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 220,
        "wires": [
            [
                "5adc0b0a.91f474"
            ]
        ]
    },
    {
        "id": "790a5d2b.c05864",
        "type": "function",
        "z": "4e373eea.a5d57",
        "name": "",
        "func": "msg.method = \"POST\";\nmsg.url = `https://api.telegram.org/bot${msg.telegram_token}/setWebhook?url=${msg.ngrok_url}/goroanya_bot`;\n//msg.url = \"https://api.telegram.org/bot1635544975:AAGRCBpmEMb0LjmRlGmpRScUYylWy-TAJRs/setWebhook?url=https://a63f1b5d29e2.ngrok.io/goroanya_bot\"\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 550,
        "y": 80,
        "wires": [
            [
                "bda16d62.01eff"
            ]
        ]
    },
    {
        "id": "328ab8ca.06cf58",
        "type": "change",
        "z": "4e373eea.a5d57",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ngrok_url",
                "pt": "msg",
                "to": "https://526be376b206.ngrok.io",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "telegram_token",
                "pt": "msg",
                "to": "1635544975:AAGRCBpmEMb0LjmRlGmpRScUYylWy-TAJRs",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 80,
        "wires": [
            [
                "790a5d2b.c05864"
            ]
        ]
    },
    {
        "id": "6523cbff.b4f684",
        "type": "digitaloak-postgresql-query",
        "z": "4e373eea.a5d57",
        "name": "",
        "server": "4f305077.37885",
        "inputs": 1,
        "outputs": 1,
        "x": 1170,
        "y": 320,
        "wires": [
            [
                "70850927.a5b4c8",
                "26498621.e1103a"
            ]
        ]
    },
    {
        "id": "a5947dd1.3b1dd",
        "type": "digitaloak-postgresql-query",
        "z": "4e373eea.a5d57",
        "name": "",
        "server": "4f305077.37885",
        "inputs": 1,
        "outputs": 1,
        "x": 2150,
        "y": 300,
        "wires": [
            [
                "596cfc67.889574"
            ]
        ]
    },
    {
        "id": "596cfc67.889574",
        "type": "debug",
        "z": "4e373eea.a5d57",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2310,
        "y": 300,
        "wires": []
    },
    {
        "id": "70620d76.5ae924",
        "type": "template",
        "z": "4e373eea.a5d57",
        "name": "",
        "field": "query.text",
        "fieldType": "msg",
        "format": "sql",
        "syntax": "mustache",
        "template": "UPDATE public.contexts\nSET output_context = $2\nWHERE chat_id = $1",
        "output": "str",
        "x": 1960,
        "y": 300,
        "wires": [
            [
                "a5947dd1.3b1dd"
            ]
        ]
    },
    {
        "id": "50a334f3.2cff5c",
        "type": "change",
        "z": "4e373eea.a5d57",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "query.values",
                "pt": "msg",
                "to": "[msg.chat_id, msg.output_context]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1730,
        "y": 300,
        "wires": [
            [
                "70620d76.5ae924"
            ]
        ]
    },
    {
        "id": "db3edc5c.01f7d",
        "type": "template",
        "z": "4e373eea.a5d57",
        "name": "",
        "field": "query.text",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "SELECT output_context FROM public.contexts WHERE chat_id = $1;",
        "output": "str",
        "x": 980,
        "y": 320,
        "wires": [
            [
                "6523cbff.b4f684"
            ]
        ]
    },
    {
        "id": "dbb4ec66.c2e55",
        "type": "digitaloak-postgresql-query",
        "z": "4e373eea.a5d57",
        "name": "",
        "server": "4f305077.37885",
        "inputs": 1,
        "outputs": 1,
        "x": 770,
        "y": 320,
        "wires": [
            [
                "4d00cfb5.91092",
                "e61ae967.65c9c8"
            ]
        ]
    },
    {
        "id": "fea1deef.8ce98",
        "type": "template",
        "z": "4e373eea.a5d57",
        "name": "",
        "field": "query.text",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "INSERT INTO public.contexts\n    (chat_id)\nSELECT $1 \nWHERE\n    NOT EXISTS ( SELECT chat_id FROM public.contexts WHERE chat_id = $1);",
        "output": "str",
        "x": 600,
        "y": 320,
        "wires": [
            [
                "dbb4ec66.c2e55"
            ]
        ]
    },
    {
        "id": "4d00cfb5.91092",
        "type": "debug",
        "z": "4e373eea.a5d57",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 420,
        "wires": []
    },
    {
        "id": "5adc0b0a.91f474",
        "type": "change",
        "z": "4e373eea.a5d57",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "query.values",
                "pt": "msg",
                "to": "[msg.receiver]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 220,
        "wires": [
            [
                "fea1deef.8ce98"
            ]
        ]
    },
    {
        "id": "70850927.a5b4c8",
        "type": "debug",
        "z": "4e373eea.a5d57",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1290,
        "y": 400,
        "wires": []
    },
    {
        "id": "e61ae967.65c9c8",
        "type": "function",
        "z": "4e373eea.a5d57",
        "name": "",
        "func": "msg.query.values = [msg.receiver]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 900,
        "y": 220,
        "wires": [
            [
                "db3edc5c.01f7d"
            ]
        ]
    },
    {
        "id": "fd04148e.3f6368",
        "type": "inject",
        "z": "ef7e2016.3d7b3",
        "name": "Start hook setup",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 60,
        "wires": [
            [
                "8c001791.5313b8"
            ]
        ]
    },
    {
        "id": "9950c6fd.cdd228",
        "type": "http request",
        "z": "ef7e2016.3d7b3",
        "name": "Send hooks",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "basic",
        "x": 850,
        "y": 60,
        "wires": [
            [
                "86eb85c5.f7dfe8"
            ]
        ]
    },
    {
        "id": "86eb85c5.f7dfe8",
        "type": "debug",
        "z": "ef7e2016.3d7b3",
        "name": "Show result of setup",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 60,
        "wires": []
    },
    {
        "id": "c28439ba.bc66b8",
        "type": "function",
        "z": "ef7e2016.3d7b3",
        "name": "Set telegram webhook",
        "func": "msg.method = \"POST\";\nmsg.url = `https://api.telegram.org/bot${msg.telegram_token}/setWebhook?url=${msg.ngrok_url}/qa_bot`;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 630,
        "y": 60,
        "wires": [
            [
                "9950c6fd.cdd228"
            ]
        ]
    },
    {
        "id": "8c001791.5313b8",
        "type": "change",
        "z": "ef7e2016.3d7b3",
        "name": "Change vars for setup",
        "rules": [
            {
                "t": "set",
                "p": "ngrok_url",
                "pt": "msg",
                "to": "https://c68d7183b4bb.ngrok.io",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "telegram_token",
                "pt": "msg",
                "to": "1659978776:AAFZiUD2Qgv6Phug_6L24dSL3M6xU0nstYo",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 60,
        "wires": [
            [
                "c28439ba.bc66b8"
            ]
        ]
    },
    {
        "id": "99d75e11.8af35",
        "type": "http in",
        "z": "ef7e2016.3d7b3",
        "name": "",
        "url": "/qa_bot",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 90,
        "y": 240,
        "wires": [
            [
                "b4c77e25.dd3e9",
                "9e4c9b67.1b0f48",
                "db6685e3.ff84f8"
            ]
        ]
    },
    {
        "id": "b4c77e25.dd3e9",
        "type": "http response",
        "z": "ef7e2016.3d7b3",
        "name": "Send OK status",
        "statusCode": "200",
        "headers": {},
        "x": 140,
        "y": 160,
        "wires": []
    },
    {
        "id": "9e4c9b67.1b0f48",
        "type": "debug",
        "z": "ef7e2016.3d7b3",
        "name": "Show http request from user",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 160,
        "y": 320,
        "wires": []
    },
    {
        "id": "db6685e3.ff84f8",
        "type": "change",
        "z": "ef7e2016.3d7b3",
        "name": "Change user text, id and telegram_token",
        "rules": [
            {
                "t": "set",
                "p": "receiver",
                "pt": "msg",
                "to": "payload.message.from.id",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "req_text",
                "pt": "msg",
                "to": "payload.message.text",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "telegram_token",
                "pt": "msg",
                "to": "1659978776:AAFZiUD2Qgv6Phug_6L24dSL3M6xU0nstYo",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 240,
        "wires": [
            [
                "e5ad9100.3329a"
            ]
        ]
    },
    {
        "id": "bdd87518.989378",
        "type": "dialogflowv2",
        "z": "ef7e2016.3d7b3",
        "dialogflow": "135cbf12.721661",
        "language": "uk",
        "debug": true,
        "queryParamsOK": true,
        "x": 1940,
        "y": 180,
        "wires": [
            [
                "1070813b.3dd18f",
                "40238506.95120c"
            ]
        ]
    },
    {
        "id": "35c1b233.1b0f7e",
        "type": "function",
        "z": "ef7e2016.3d7b3",
        "name": "Prepare msg for Dialogflow",
        "func": "msg.queryParams = msg.payload.context ? msg.payload.context : {};\nmsg.payload = msg.req_text;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1700,
        "y": 180,
        "wires": [
            [
                "bdd87518.989378",
                "788dd2f1.a7346c"
            ]
        ]
    },
    {
        "id": "d6882f61.7185a",
        "type": "mongodb3 in",
        "z": "ef7e2016.3d7b3",
        "service": "_ext_",
        "configNode": "537508a8.d80718",
        "name": "",
        "collection": "contexts",
        "operation": "",
        "x": 1550,
        "y": 260,
        "wires": [
            [
                "35c1b233.1b0f7e"
            ]
        ]
    },
    {
        "id": "9e428c1d.1b7d7",
        "type": "function",
        "z": "ef7e2016.3d7b3",
        "name": "Get context from mongoDB",
        "func": "msg.operation = \"findOne\";\nmsg.payload = {\n    chat_id: msg.receiver\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1380,
        "y": 180,
        "wires": [
            [
                "d6882f61.7185a"
            ]
        ]
    },
    {
        "id": "95cf5c4c.d22e8",
        "type": "mongodb3 in",
        "z": "ef7e2016.3d7b3",
        "service": "_ext_",
        "configNode": "537508a8.d80718",
        "name": "",
        "collection": "contexts",
        "operation": "",
        "x": 1170,
        "y": 240,
        "wires": [
            [
                "9e428c1d.1b7d7"
            ]
        ]
    },
    {
        "id": "54b9ae74.4aa86",
        "type": "function",
        "z": "ef7e2016.3d7b3",
        "name": "Insert user chat_id into db or pass",
        "func": "msg.operation = \"update\";\nmsg.payload = [\n    { chat_id : msg.receiver},\n    {\n        \"$set\":{\n            \"chat_id\" : msg.receiver\n        }\n    },\n    {\n      \"upsert\":true\n   }\n]\n  \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 940,
        "y": 180,
        "wires": [
            [
                "95cf5c4c.d22e8"
            ]
        ]
    },
    {
        "id": "1070813b.3dd18f",
        "type": "function",
        "z": "ef7e2016.3d7b3",
        "name": "Send response to user and save context to db",
        "func": "// 1 output\nmsg.method = \"POST\";\nmsg.url = `https://api.telegram.org/bot${msg.telegram_token}/sendMessage`;\nmsg.payload = {\n    \"text\": msg._dialogflow.fulfillmentText,\n    \"chat_id\": msg.receiver,\n}\n//2 output\ncontext_data = {\n    \"contexts\": msg._dialogflow.outputContexts != null \n            ? msg._dialogflow.outputContexts \n            : null\n}\n\ndb_msg = {}\n\ndb_msg.operation = \"update\";\ndb_msg.payload = [\n    { chat_id : msg.receiver},\n    {\n        \"$set\":{\n            \"context\" : context_data\n        }\n    }\n    \n]\n\nreturn [msg, db_msg];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 2240,
        "y": 180,
        "wires": [
            [
                "5dc80821.0a7798"
            ],
            [
                "d0e8ab90.82ec38"
            ]
        ]
    },
    {
        "id": "5dc80821.0a7798",
        "type": "http request",
        "z": "ef7e2016.3d7b3",
        "name": "Send response to user",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 2600,
        "y": 160,
        "wires": [
            [
                "3f70c30b.a3efec"
            ]
        ]
    },
    {
        "id": "3f70c30b.a3efec",
        "type": "debug",
        "z": "ef7e2016.3d7b3",
        "name": "Show response msg to user",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2860,
        "y": 160,
        "wires": []
    },
    {
        "id": "d0e8ab90.82ec38",
        "type": "mongodb3 in",
        "z": "ef7e2016.3d7b3",
        "service": "_ext_",
        "configNode": "537508a8.d80718",
        "name": "",
        "collection": "contexts",
        "operation": "",
        "x": 2610,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "7e64cefa.22b39",
        "type": "function",
        "z": "4e373eea.a5d57",
        "name": "",
        "func": "msg.method = \"POST\";\nmsg.url = `https://api.telegram.org/bot${msg.telegram_token}/sendMessage`;\nmsg.payload = {\n    \"text\": msg._dialogflow.fulfillmentText,\n    \"chat_id\": msg.receiver,\n}\n\ndb_data = {}\ndb_data.output_context = {\n    \"contexts\": msg._dialogflow.outputContexts != null ? msg._dialogflow.outputContexts : null}\ndb_data.chat_id = msg.receiver;\n\nreturn [msg, db_data];\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1540,
        "y": 220,
        "wires": [
            [
                "1f1513cd.85002c"
            ],
            [
                "50a334f3.2cff5c"
            ]
        ]
    },
    {
        "id": "9b3fba36.06b608",
        "type": "debug",
        "z": "4e373eea.a5d57",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1450,
        "y": 300,
        "wires": []
    },
    {
        "id": "2816ca65.297966",
        "type": "dialogflowv2",
        "z": "4e373eea.a5d57",
        "dialogflow": "9e9cbbaf.834f68",
        "language": "uk",
        "debug": true,
        "queryParamsOK": true,
        "x": 1340,
        "y": 220,
        "wires": [
            [
                "7e64cefa.22b39",
                "9b3fba36.06b608"
            ]
        ]
    },
    {
        "id": "26498621.e1103a",
        "type": "function",
        "z": "4e373eea.a5d57",
        "name": "",
        "func": "output_context = msg.payload.rows[0].output_context;\nmsg.queryParams = output_context// ? output_context : {\"contexts\": null};\nmsg.payload = msg.req_text;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1140,
        "y": 220,
        "wires": [
            [
                "2816ca65.297966"
            ]
        ]
    },
    {
        "id": "40238506.95120c",
        "type": "debug",
        "z": "ef7e2016.3d7b3",
        "name": "Show response from Dialogdlow",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2250,
        "y": 320,
        "wires": []
    },
    {
        "id": "788dd2f1.a7346c",
        "type": "debug",
        "z": "ef7e2016.3d7b3",
        "name": "Show request msg to Dialogflow",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1890,
        "y": 320,
        "wires": []
    },
    {
        "id": "e5ad9100.3329a",
        "type": "switch",
        "z": "ef7e2016.3d7b3",
        "name": "",
        "property": "req_text",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "/start",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/start",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 690,
        "y": 240,
        "wires": [
            [
                "54b9ae74.4aa86"
            ],
            [
                "294d4abd.09b506"
            ]
        ]
    },
    {
        "id": "294d4abd.09b506",
        "type": "function",
        "z": "ef7e2016.3d7b3",
        "name": "Prepare on /start msg",
        "func": "msg.method = \"POST\";\nmsg.url = `https://api.telegram.org/bot${msg.telegram_token}/sendMessage`;\nmsg.payload = {\n    \"text\": \"Вітаємо Вас! Задайте питання, що вас цікавить.\",\n    \"chat_id\": msg.receiver,\n}\n return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 900,
        "y": 340,
        "wires": [
            [
                "327d8d9d.420e42"
            ]
        ]
    },
    {
        "id": "327d8d9d.420e42",
        "type": "http request",
        "z": "ef7e2016.3d7b3",
        "name": "Send msg on /start to user",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1160,
        "y": 340,
        "wires": [
            []
        ]
    }
]